/* 通用样式 */

body {
	max-width: 1280px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
a {
	display: block;
	color: #666;
}
a:hover {
	color: #000;
}

/* 清除浮动 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


/* 下拉菜单 */
.dropdown-menu {
	position: relative;
}
.dropdown-menu img {
	padding-bottom: 1px;
	padding-left: 6px;
}
.sub-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 9999;
	margin-top: 10px;
	border: 1px solid #e6e6e6;
	background-color:white;
}
.sub-menu li {
	width: 100px;
	height: 30px;
	border-bottom: 1px solid #e6e6e6;
	line-height: 30px;
	padding-left: 10px;
}
.sub-menu li:hover {
	background-color: #eeeeee;
}


/* 头部样式 */
#header-top {
	height: 35px;
	background-color: #000;
}
#header-main {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 10px;
}
.main-menu {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 0;
}
.main-menu>li {
	display: inline-block;
	padding: 0 0 10px 10px;
	font-size: 12px;
}
.main-menu>li>a {
	border-right: 1px solid #999999;
	padding-right: 10px;
}



/* 导航样式 */

#nav {
	width: 100%;
	background-color: #fff;
}
#nav>div {
	position: relative;
	width: 960px;
	height: 40px;
	margin: 0 auto;
}
.sub-nav-left, .sub-nav-right {
	position: absolute;
	top: 0;
}
.sub-nav-left li, .sub-nav-right li {
	display: inline-block;
	height: 40px;
	margin-right: 10px;
	padding-right: 5px;
	font-size: 0.9em;
	line-height: 40px;
}
.sub-nav-left {
	left: 0;
}
.sub-nav-left li, .nav-logo img {
	vertical-align: middle;
}
.sub-nav-right {
	right: 0;
}
.sub-nav-right li {
	font-weight: 700;
}
.sub-nav-right li a {
	color: #0255a5;
}
#nav .sub-menu {
	top: 30px;
	left: -5px;
}
#nav .sub-menu li {
	width: 120px;
	margin-right: 0;
}
.scroll-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	border-bottom: 1px solid #ccc;
}


/* 搜索框样式 */
#nav #search-bar {
	display: none;
	position: relative;
	height: 80px;
	width: 100%;
	background-color: #F2F2F2;
}
#search-img img{
	vertical-align:middle;
}
#search-bar form {
	width: 940px;
	height: 80px;
	margin: 0 auto;
}
#search-bar form div {
	float: left;
	height: 48px;
	margin-top: 16px;
	background: #fff;
}
#search-bar form>input {
	float: left;
	width:703px;
	height: 18px;
	margin-top: 16px;
	padding: 15px;
	font-size: 2em;
	background-color: #fff;
	border: none;
}
#search-bar .submit {
	width: 115px;
	height: 38px;
	margin-top: 5px;
	margin-left: 30px;
	color: #fff;
	border: none;
	background-color: #0255A5;
	cursor: pointer;
}
#search-bar img {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}
#search-bar .submit:hover {
	background: #003366;
}
#search-bar .noFocus:focus{
	outline:none;
}
#search-bar a {
	display: inline;
}




/* 轮播头图 */

#playimages {
	width: 100%;
	height: 685px;
	background: #232834;
}
.big-pic {
	position: relative;
	width: 100%;
	height: 500px;
	border-bottom: 5px solid #ccc;
	background: #222;
}
.big-pic li {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.big-pic .text {
	position: absolute;
	left: 20px;
	bottom: 25px;
	z-index: 3000; 
	color: #ccc;
	font-size: 30px;
	line-height: 1;
	white-space: nowrap;
}
.big-pic .bg {
	position: absolute;
	z-index: 2999;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #000;
	filter: alpha(opacity=60);
	opacity: 0.6;
}
.small-pic {
	position: relative;
	width: 960px;
	height: 178px;
	margin: 0 auto;
	overflow: hidden;
}
.small-pic ul {
	position: absolute;
	top: 0;
	left: 0;
	height: 178px;
}
.small-pic li {
	float: left;
	position: relative;
	width: 320px;
	height: 178px;
	cursor: pointer;
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.small-pic li.nowpic {
	opacity: 1;
	alpha: filter(opacity=100); 
}
.small-pic li.nowpic:after {
	content: "<span><span>";
	display:block;
	position:absolute;
	z-index: 3001;
	left:44%;
	top: 0;
	border-style:solid dashed dashed; 
	border-color:#ccc transparent transparent;
	border-width:20px;
	font-size:0;
	line-height:0;
}
.small-pic img {
	width: 320px;
	height: 178px;
}


/* 页面主体 */

#content {
	width: 960px;
	margin: 20px auto;
	padding-left: 20px;
}
#content>h1 {
	width: 100%;
	margin: 20px 0;
	font-size: 1.3em;
}
#content .col-main {
	float: left;
	width: 620px;
	border: none;
}
#article-headline {
	position: relative;
	width: 100%;
	height: 380px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-top: 2px solid #0255a5;
}
#article-headline a ,.article-general a {
	display: block;
}
#article-headline  .image-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background: white;

}
.col-main h3 {
	padding: 20px;
	padding-bottom: 10px;
	font-size: 0.9em;
	color: #999;
}
.col-main h2 {
	padding-left: 20px;
	font-size: 1.2em;
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
#article-headline .share-link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}
.share-link a {
	padding-left: 20px;
	margin-left: 20px;
	height: 100%;
	line-height: 40px;
	background: url(../images/share.svg) no-repeat 0 40%;
}
.share-link:hover {
	background-color: #eee;
}
div#article-headline,div.article-general {
	transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
div#article-headline:hover,div.article-general:hover {
	box-shadow: 0 0 1px 1px #E4E4E4;
}
#content .article-general {
	float: left;
}
.article-general {
	position: relative;
	width: 298px;
	height: 300px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-top: 2px solid #0255a5;
}
#content .article-general>a>img {
	width: 298px;
}
#content .article-general .share-link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}
.article-general p, .article-headline p {
	height: 40px;
	padding-left: 20px;
	margin-top: 8px;
	color: #666666;
	font-size: 1.1em;
	line-height: 1.4;
}
.article-gen-right {
	margin-left: 20px;
}
#content #show-news {
	float: left;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	text-align: center;
}
#content #show-news a {
	font-size: 0.9em;
	color: #0255a5;
	font-weight: bold;
}


/* 日程表 */
#schedule {
	float: left;
	width: 300px;
	margin-left: 20px;
	border: 1px solid #e6e6e6;
	border-top: 2px solid #0255a5;
	color: #666666;
}
#schedule h2 {
	width: 100%;
	height: 40px;
}
#schedule h2 a {
	display: block;
	padding-left: 50px;
	line-height: 40px;
	font-size: 1.1em;
	background: url(../images/schedule.svg) no-repeat 15px 50%;
}
#schedule .match-type {
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: 1em;
}
#schedule .match {
	position: relative;
	background-color: #F6F6F6;
	border-top: 1px solid #e6e6e6;
}
#schedule .match-date {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
	font-size: 1em;
}
#schedule .match-info p {
	height: 70px;
	padding-left: 10px;
}
#schedule .match-info strong {
	position: absolute;
	right: 15px;
	top: 55px;
	color: #333333;
	font-size: 1em;
}
#schedule .match-info p.ticket {
	height: auto;
	padding-right: 15px;
	padding-bottom: 15px;
	font-size: 11px;
	text-align: right;
}
#schedule .match-info a {
	color: #0255a5;
}


.ad {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#ad-main {
	background-color: #000;
}
#ad-main img {
	display: block;
	margin: 0 auto;
}


/* 内容区块1 */
#first-sec {
	width: 100%;
	padding-bottom: 40px;
	background: #ebebeb url(../images/rm_row_bg.png) no-repeat 50% bottom;
}
#first-sec>div {
	width: 960px;
	margin: 0 auto;
	padding-top: 60px;
}
#first-sec a {
	display: block;
	float: left;
	width: 218px;
	margin: 0 10px;
	background-color: #fff;
	border: 1px solid #D9D9D9;
	border-top: 2px solid #8C7E44;
}
#first-sec a h2,#first-sec a p {
	height: 50px;
	width: 100%;
	line-height:50px;
	text-align: center;
}
#first-sec a img {
	width: 218px;
}
#first-sec a h2 {
	font-size: 1.1em;
	color: #333333;
}
#first-sec a p {
	font-size: 1em;
	color: #666666;
}


/* 内容区块2 */
#second-sec {
	width: 100%;
	padding-top: 120px;
	padding-bottom: 20px;
	background: #000 url(../images/rm_vect_logo.svg) no-repeat 50% 10%;
}
#second-sec>p {
	margin-bottom: 20px;
	color: #666666;
	text-align: center;
	font-size: 1.6em;
}
#second-sec>div {
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;
}
#second-sec>div>a {
	display: block;
	float: left;
	width: 218px;
	height: 350px;
	margin: 0 10px;
	background-color: #fff;
}
#second-sec a img {
	width: 218px;
}
#second-sec a h2,#second-sec a p {
	text-align: center;
}
#second-sec a h2 {
	margin-top: 20px;
	font-size: 0.9em;
	font-weight: bold;
	color: #999999;
}
#second-sec a p {
	margin-top: 10px;
	padding: 0 20px;
	font-family: "Oswald", sans-serif;
	font-size: 1em;
	line-height: 1.3;
	color: #333333;
}
#second-sec>a {
	display: block;
	margin: 40px auto;
	width: 100px;
	font-size: 0.9em;
	text-align: center;
	color: #fff;
}

/* 奖杯 */
#cups {
	width: 100%;
	height: 300px;
	padding-top: 100px;
	background: url(../images/rm_vect_logo.svg) no-repeat 50% 30px;
}
#cups .prev, #cups .next {
	position: absolute;
	z-index: 9000;
	top: 105px;
	width: 22px;
	height: 42px;
	cursor: pointer;
}
#cups .prev {
	display: none;
	left: 0;
	background: url(../images/big_arrow_left.svg) no-repeat;
}
#cups .next {
	right: 0;
	background: url(../images/big_arrow_right.svg) no-repeat;
}
#cups>div {
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 224px;
	overflow: hidden;
}
#cups ul {
	position: absolute;
	height: 224px;
	font-size: 0;
}
#cups ul li {
	display: inline-block;
	width: 119px;
	height: 224px;
	border-left: 1px solid #E6E6E6;
	text-align: center;
	vertical-align: top;
}
#cups img {
	width: 109px;
}
#cups h3 {
	height: 30px;
	margin-top: 20px;
	padding: 0 12px;
	font-size: 13px;
	line-height: 15px;
}
#cups p {
	margin-top: 20px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
#cups h3 ,#cups p {
	color: #999;

}
#cups ul li.first-li {
	border-left: none;
}

/* 页脚 */
#links {
	height: 290px;
	width: 100%;
	background-color: #e6e6e6;
	border-top:1px solid #d3d3d3;
}
#links>div {
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
}
#links ul {
	width: 147px;
	float: left;
	padding-top: 30px;
	height: 260px;
	padding-left: 12px;
	transition: background-color 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#links a {
	font-size: 1em;
	color: #999;
}
#links li {
	margin: 10px 0;
}
#links ul:hover {
	background-color: #e0e0e0;
}
#footer {
	height: 40px;
	background-color: #e6e6e6;
	border-top:1px solid #d3d3d3;
}
#footer>div {
	position: relative;
	height: 100%;
	width: 960px;
	margin: 0 auto;
}
#footer .footer-left {
	float: left;
}
#footer .footer-right {
	float: right;
}
#footer span {
	display: block;
	line-height: 40px;
	color: #666666;
	font-size: 0.9em;
}
#footer #bgc-image {
	position: absolute;
	z-index: 2;
	top: -30px;
	left: 46%;
	width: 84px;
	height: 66px;
	background: url(../images/rm_vect_logo.svg) no-repeat 50% 40%;
}
#footer>div:before {
	position: absolute;
	z-index: 1;
	height: 1px;
	width: 84px;
	content: "";
	display: block;
	left: 46%;
	top: -1px;
	background-color: #e6e6e6;
}
.footer-right a {
	display: inline;
}

#totop {
	display: none;
	position: absolute;
	z-index: 9998;
	right: 60px;
	top: 0px;
	width: 43px;
	height: 43px;
	background-image: url(../images/totop.png);
	border-radius: 8px;
	cursor: pointer;
}


